[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4 # mysqlサーバー側が使用する文字コード
explicit-defaults-for-timestamp=1 # テーブルにTimeStamp型のカラムを持つ場合、推奨
general-log=1 # 実行したクエリのすべての履歴を記録
general-log-file=/var/log/mysql/mysqld.log # ログパス

[client]
default-character-set=utf8mb4 # mysqlのクライアント側が使用する文字コード
